SERVER_NAME=lyn-evolution
SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=https://app.example.com

DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://lyn_evolution:REEMPLAZA_PASSWORD@127.0.0.1:5432/evolution_db?schema=evolution_api
DATABASE_CONNECTION_CLIENT_NAME=lyn-production

AUTHENTICATION_API_KEY=REEMPLAZA_CON_CLAVE_LARGA
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=false
CACHE_REDIS_ENABLED=false
CACHE_LOCAL_ENABLED=true
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
LOG_LEVEL=ERROR,WARN,INFO,WEBHOOKS
LOG_BAILEYS=error
DEL_INSTANCE=false
QRCODE_LIMIT=30
LANGUAGE=es
